* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  --text-gray: #888888;
  --color-fuxia: #d12eb9;
  --fondo-color: hsl(185, 75%, 39%);
  --text-color: hsl(227, 10%, 46%);
  --color-borde: #204FDB;
}

input {
  margin: 4px 0;
  padding: 3px;
  border: none;
  /* border-bottom: 1px solid var(--color-borde); */
  text-align: center;
}

input:nth-child(1),
input:nth-child(2) {
  font-size: 1.2em;
  margin: 0;
  color: var(--text-color);
}

input:nth-child(3) {
  color: var(--color-fuxia);
  font-size: 0.7em;
}

input:nth-child(4) {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--text-gray);
  margin-top: 15px;
}

p {
  font-size: 0.5em;
  color: var(--text-gray);
}

.container {
  width: 350px;
  height: 600px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: inset 2px 2px 10px #2225, inset -2px -2px 10px #2225;
  margin: auto;
}

/*Header*/

.cabezera {
  display: flex;
  background-image: url("Img/usuario.jpg");
  width: 100%;
  height: 30%;
  border-bottom: 3px solid var(--color-fuxia);
}

.picture {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: flex-end;
  /* place-content: center; */
}

.header__img {
  position: relative;
  top: 20px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid var(--color-fuxia);
  /* rotate: -20deg; */
}

/* Main*/

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.texto {
  width: 80%;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
}

.button {
  width: 100px;
  background-color: transparent;
  margin-top: 35px;
  padding: 6px 16px;
  font-size: 0.8em;
  font-weight: 600;
  border: 1px solid #2d7cbf;
  color: #2d7cbf;
  border-radius: 30px;
  cursor: pointer;
}

/* footer */

footer {
  height: 10%;
  display: flex;
  justify-content: space-around;
  border-top: 0.2px solid var(--color-borde);
}

.foot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px 0;
  border-right: 0.2px solid var(--color-borde);
}

.foo__number {
  font-size: 0.6em;
  color: #222;
  font-weight: 600;
}
#guardar:disabled {
  background-color: #c8b6ff;
}
#editar:disabled {
  background-color:  #c8b6ff;
}
