* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e5e5f7;
  background-image: radial-gradient(#c657d8 0.5px, transparent 0.5px),
    radial-gradient(#c657d8 0.5px #e5e5f7);
  background-size: 200px 20px;
  background-position: 0 0, 10px 10px;
  min-height: 100vh;
  overflow: hidden;
}

.form {
  background-color: #fff;
  margin: 50px auto;
  width: 90%;
  max-width: 400px;
  padding: 4.3em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}

.form__title {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #3866f2;
  font-weight: bold;
}

.span__title {
  color: #c657d8;
}

.form__parrafo {
  font-weight: 300;
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.form__group {
  position: relative;
  --color: #5757577e;
}

.form__input,
.form__select {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: sans-serif;
}

.form__select option {
  text-align: center;
}

.form__input:not(:placeholder-shown) {
  color: #4d4d46;
}

.form__label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: top left;
  color: #3866f2;
}

.form__submit {
  background: #3866f2;
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color.4s, transform 0.6s;
  margin-bottom: 10px;
}

.form__submit:hover {
  background-color: #204fdb;
  transform: scale(1.04);
}

.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
  transform: scale(1);
}

@media (max-width: 425px) {
  .form__title {
    font-size: 1.8rem;
  }
}

.itemss {
  position: absolute;
  z-index: -1;
  left: 0;
  margin: 30px;
  display: inline-flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blueviolet;
  animation: infinite alternate linear dos 6s;
}

.itemss:nth-child(1) {
  animation-duration: 7s;
  animation-direction: alternate-reverse;
}

.itemss:nth-child(2) {
  margin-top: 15em;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.itemss:nth-child(3) {
  margin-top: 26em;
  animation-duration: 9s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-direction: alternate-reverse;
}

.itemss:nth-child(4) {
  margin-top: 34em;
  animation-duration: 8s;
}

.itemss:nth-child(5) {
  margin-top: 42em;
  animation-duration: 7s;
  animation-direction: alternate-reverse;
}

@keyframes dos {
  0% {
    transform: translateX(0) scale(1);
    background-color: black;
    opacity: 0;
  }

  25% {
    transform: translateX(25em) scale(1.3);
    background-color: salmon;
    opacity: 0.1;
  }

  50% {
    transform: translateX(55em) scale(2);
    background-color: lightseagreen;
    opacity: 0;
  }

  75% {
    transform: translateX(75em) scale(1.7);
    background-color: green;
    opacity: 0.1;
  }

  100% {
    transform: translateX(100em) scale(1);
    background-color: indigo;
    opacity: 0;
  }
}
