.navbar {
  background-color: #204fdb;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.navlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlist li {
  list-style: none;
}

.navlist li a {
  color: azure;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
}
