* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
}

.tabla {
  margin: 30px auto;
  border: 3px solid #222;
  /* padding: 10px; */
}

.tabla__header th {
  background-color: #04c6f75e;
  padding: 6px;
  cursor: pointer;
  font-size: 1.4em;
}
.tabla__header span {
  font-size: 1.2em;
  color: #d22;
  writing-mode: vertical-lr;
  display: inline-block;
  transition: rotate 0.6s;
}

td {
  font-size: 1.2rem;
}

.rotar span {
  rotate: 180deg;
}

.tabla__body td {
  background-color: #fffb0a5e;
  padding: 5px;
}
.parrafo {
  font-size: 32px;
  text-align: center;
}

.editperfil {
  text-decoration: none;
  color: #800f0f;
}
